PORT=3000
# IP privada (si están en la misma VPC/Subnet en AWS) o IP pública de la máquina de Base de Datos
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=tienda_db
DB_USER=postgres
DB_PASSWORD=tu_password_aqui
